.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #1e90ff;
}

.flex-wrap > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.justify {
  display: flex;
  justify-content: center;
  background-color: #dc143c;
}

.justify > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.align {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: #4b0082;
}

.align > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
